<div ng-include="'static/views/header.html'"></div>

<!-- Main Content -->
<article class="content">
    <div class="title-block">
        <h3 class="title">
            Routes
        </h3>
        <p class="title-description"> This is the main screen </p>
    </div>
    <p>
        <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a>
        <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a>
        <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a>
    </p>
    <p>
        <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a>
        <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a>
        <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a>
        <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a>
        <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a>
        <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
    </p>
    <div class="subtitle-block">
        <h3 class="subtitle">
            Hello AngularAPP!
        </h3> 
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                <div class="card card-block sameheight-item">
                    <div class="title-block">
                        <h3 class="title"> This is a container </h3>
                        <p>{{ response }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<!-- END Main Content -->

<div ng-include="'static/views/sidebar.html'"></div>
<div ng-include="'static/views/footer.html'"></div>

