<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> DroidLab </div>
        </div>
        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                <li class="active">
                    <a href="#/"> <i class="fa fa-home"></i> Dashboard </a>
                </li>
                <li>
                    <a href="https://github.com/modularcode/modular-admin-html"> <i class="fa fa-github-alt"></i> Theme Docs </a>
                </li>
            </ul>
        </nav>
    </div>
    <footer class="sidebar-footer">
    </footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>