{% load staticfiles i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}DroidLab{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% block css %}
	    <!-- Your stuff: Third-party CSS libraries go here -->
	    
	    <!-- This file stores project-specific CSS -->
	    <link href="{% static 'css/vendor.css' %}" rel="stylesheet">
	    <link href="{% static 'css/app.css' %}" rel="stylesheet">
	    
	    {% endblock %}

    </head>

    <body ng-app="droidlabApp" ng-controller="MasterCtrl">

		<div class="main-wrapper">
			<div class="app" ng-view>
			</div>
		</div>

		{% block modal %}
	    <div class="modal fade" id="confirm-modal">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	                    <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4> </div>
	                <div class="modal-body">
	                    <p>Are you sure want to do this?</p>
	                </div>
	                <div class="modal-footer"> <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> </div>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	    <!-- /.modal -->
		{% endblock modal %}

		    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    {% block javascript %}

	      <!-- Your stuff: Third-party javascript libraries go here -->
	      <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
	      <script type="text/javascript" src="{% static 'js/angular-route.min.js' %}"></script>
	      <script type="text/javascript" src="{% static 'js/angular-cookies.min.js' %}"></script>
	      <script type="text/javascript" src="{% static 'js/angular-resource.min.js' %}"></script>
	      <script type="text/javascript" src="{% static 'js/angular-sanitize.min.js' %}"></script>

	      <!-- place project specific Javascript in this file -->
	      
	      <script src="{% static 'js/vendor.js' %}"></script>
	      <script src="{% static 'js/app.js' %}"></script>
	      <script src="{% static 'js/droidlabApp.js' %}"></script>

	      <script src="{% static 'js/services/djangoAuth.js' %}"></script>
	      <script src="{% static 'js/services/validate.js' %}"></script>

	      <script src="{% static 'js/controllers/authrequired.js' %}"></script>
	      <script src="{% static 'js/controllers/login.js' %}"></script>
	      <script src="{% static 'js/controllers/logout.js' %}"></script>
	      <script src="{% static 'js/controllers/main.js' %}"></script>
	      <script src="{% static 'js/controllers/master.js' %}"></script>
	      <script src="{% static 'js/controllers/passwordchange.js' %}"></script>
	      <script src="{% static 'js/controllers/passwordreset.js' %}"></script>
	      <script src="{% static 'js/controllers/passwordresetconfirm.js' %}"></script>
	      <script src="{% static 'js/controllers/register.js' %}"></script>
	      <script src="{% static 'js/controllers/restricted.js' %}"></script>
	      <script src="{% static 'js/controllers/userprofile.js' %}"></script>
	      <script src="{% static 'js/controllers/verifyemail.js' %}"></script>

	    {% endblock javascript %}
    </body>

</html>